@model IEnumerable<ProjetValilou.Models.Product>

@{
    ViewData["Title"] = "Catalogue de Bougies";
}

<h1>Catalogue de Bougies</h1>

<div>
    <button onclick="location.href='@Url.Action("Category1")'">Lavande</button>
    <button onclick="location.href='@Url.Action("Category2")'">Vanille</button>
    <button onclick="location.href='@Url.Action("Category3")'">Rosée</button>
</div>

<div id="product-container">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <img src="@product.ImageUrl" alt="@product.Name" />
            <h2>@product.Name</h2>
            <p>@product.Description</p>
            <p>Prix : @product.Price €</p>
        </div>
    }
</div>
